version: "3.9"

services:
  airport-management-ui:
    container_name: airport-management-ui
    build:
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "3000:80"
    networks:
      - shared_net

networks:
  shared_net:
    external: true
