name: Build and Push Flight Scheduler Service

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Docker tag for the image"
        required: true
        default: "latest"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build --no-cache -f flight-scheduler-service/docker/Dockerfile -t sussap/flight-scheduler-service:${{ github.event.inputs.tag }} flight-scheduler-service

      - name: Push Docker image
        run: |
          docker push sussap/flight-scheduler-service:${{ github.event.inputs.tag }}